/* kahoot waiting room styles */
.results {
  width: 100%; min-height: 100vh;
  background-color: rgb(56, 18, 114);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.results__wrap {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

/* title */
.results__quiz-title {
  color: rgb(51, 51, 51);
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

/* independent square and circle styles */
.results__square {
  position: fixed;
  top: -15vmin; left: -15vmin;
  background-color: rgb(0, 0, 0);
  transform: rotate(45deg);
  min-width: 75vmin; min-height: 75vmin;
  opacity: .1;
  z-index: 0;
}

.results__circle {
  position: fixed;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: .1;
  min-width: 75vmin; min-height: 75vmin;
  bottom: -15vmin; right: -15vmin;
  z-index: 0;
}

/* main part of the section */
.results__main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.results__players {
  width: 100%; height: 540px;
  overflow-y: scroll;
}

.players__player {
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  margin: 20px auto;
}

.player__name {
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.player__score {
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

/* footer */
.results__footer {
  width: 100%; 
  position: absolute;
  bottom: 0; left: 0;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* end quiz button */
.results__end-quiz {
  background-color: #fff;
  color: #000;
  padding: 15px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/* hover */
.results__end-quiz:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}